aiohttp             
aiosignal           
annotated-types     
anyio               
async-timeout       
attrs               
certifi             
cffi                
charset-normalizer  
click               
curl-cffi           
dataclasses-json    
distro              
duckduckgo_search   
exceptiongroup      
fastapi             
frozenlist          
h11                 
httpcore            
httpx               
httpx-sse           
idna                
jsonpatch           
jsonpointer         
langchain           
langchain-community 
langchain-core      
langserve           
langsmith           
lxml                
marshmallow         
multidict           
mypy-extensions     
numpy               
openai              
orjson              
packaging           
pandas              
pip                 
pycparser           
pydantic            
pydantic_core       
python-dateutil     
pytz                
PyYAML              
requests            
setuptools          
six                 
sniffio             
SQLAlchemy          
sse-starlette       
starlette           
tenacity            
tqdm                
typing_extensions   
typing-inspect      
tzdata              
urllib3             
uvicorn             
yarl                
